<h1> {{title}}</h1>
<h2> My Heroes </h2>
<ul class="heroes">
  <!--*ngFor="let hero of heroes"    heroes のイテレート表示-->
  <!--状態によってクラスを動的に付与したり除去したりするには、クラスバインディング 構文 [class.**] を使います。-->
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>

<!--*ngIf の右辺の式が truthy であるときだけ、内側のテンプレートが評価されます。-->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input type="text" [(ngModel)]="selectedHero.name">
  </div>
</div>

